@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Literata:400,400i,700,700i&display=swap');

body {
    margin: 0;
    font-family: "Lato", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Literata", serif;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}
.col-left {
    padding: 2rem 4rem;
    background-color: #D6EFFA;
    flex: 40%;
    min-height: 100vh;
}
.col-right {
    padding: 1rem;
    flex: 60%;
}

